# /srv/salt/map.jinja

# Os family
{% set os_fam = grains.os_family %}

# Each minion must declare in a grain, main_user as the primary user name.
{% set user = grains.get('main_user') %}

{% if not user %}
  {% do raise('Edit: Missing grain: main_user') %}
{% endif %}

{% set home = salt['user.info'](user)['home'] %}

# Only packages that have different names across distros.
{% set pkg_map = {

  'Debian': {
    '7zip': 'p7zip-full',
    'acl': 'acl',
    'arping': 'iputils-arping',
    'bluetooth_dev': 'libbluetooth-dev',
    'bsd_utils': 'bsdmainutils',
    'build_tools': 'build-essential',
    'cargo': 'cargo',
    'cron': 'cron',
    'curl_dev': 'libcurl4-openssl-dev',
    'dig': 'dnsutils',
    'dnsutils': 'dnsutils',
    'editline_dev': 'libedit-dev',
    'emoji': 'fonts-noto-color-emoji',
    'fd': 'fd-find',
    'ffi_dev': 'libffi-dev',
    'firefox': 'firefox-esr',
    'ftp_server': 'vsftpd',
    'fuse_dev': 'libfuse3-dev',
    'g++': 'g++',
    'glew_dev': 'libglew-dev',
    'glfw_dev': 'libglfw3-dev',
    'gmp_dev': 'libgmp-dev',
    'go': 'golang',
    'gtk3_dev': 'libgtk-3-dev',
    'ifconfig': 'net-tools',
    'iproute': 'iproute2',
    'java_jdk': 'default-jdk',
    'java_jre': 'default-jre',
    'jpeg_dev': 'libjpeg-dev',
    'krb5_dev': 'libkrb5-dev',
    'latex': 'texlive-full',
    'ldap_dev': 'libldap2-dev',
    'locate': 'plocate',
    'man_db': 'man-db',
    'man_pages': 'manpages',
    'ncurses_dev': 'libncurses-dev',
    'netcat': 'netcat-openbsd',
    'ninja': 'ninja-build',
    'nodejs_npm': 'npm',
    'noto': 'fonts-noto',
    'noto_cjk': 'fonts-noto-cjk',
    'nslookup': 'dnsutils',
    'opengl_dev': 'libgl1-mesa-dev',
    'openssh_client': 'openssh-client'
    'openssl_dev': 'libssl-dev',
    'pinentry_gui': 'pinentry-gtk2',
    'ping': 'iputils-ping',
    'pkgconf': 'pkg-config',
    'png_dev': 'libpng-dev',
    'python_pip': 'python3-pip',
    'python_venv': 'python3-venv',
    'qt5_dev': 'qtbase5-dev',
    'qt6_dev': 'qt6-base-dev',
    'readline_dev': 'libreadline-dev',
    'route': 'net-tools',
    'ruby_dev': 'ruby-dev',
    'rust': 'rustc',
    'sdl2_dev': 'libsdl2-dev',
    'sftp_server': 'openssh-sftp-server',
    'sqlite_dev': 'libsqlite3-dev',
    'sshd': 'openssh-server',
    'tftp': 'tftp-hpa',
    'tiff_dev': 'libtiff-dev',
    'traceroute': 'traceroute',
    'vulkan_dev': 'libvulkan-dev',
    'webp_dev': 'libwebp-dev',
    'xml_dev': 'libxml2-dev',
    'xslt_dev': 'libxslt1-dev',
    'yaml_dev': 'libyaml-dev',
    'zlib_dev': 'zlib1g-dev',
  },

  'Arch': {
    '7zip': '7zip',
    'acl': 'acl',
    'arping': 'iputils',
    'bluetooth_dev': 'bluez-libs',
    'bsd_utils': 'util-linux',
    'build_tools': 'base-devel',
    'cargo': 'rust',
    'cron': 'cronie',
    'curl_dev': 'curl',
    'dig': 'bind',
    'dnsutils': 'bind',
    'editline_dev': 'libedit',
    'emoji': 'noto-fonts-emoji',
    'fd': 'fd',
    'ffi_dev': 'libffi',
    'firefox': 'firefox',
    'ftp_server': 'vsftpd',
    'fuse_dev': 'fuse3',
    'g++': 'gcc'
    'glew_dev': 'glew',
    'glfw_dev': 'glfw',
    'gmp_dev': 'gmp',
    'go': 'go',
    'gtk3_dev': 'gtk3',
    'ifconfig': 'net-tools',
    'iproute': 'iproute2',
    'java_jdk': 'jdk-openjdk',
    'java_jre': 'jre-openjdk',
    'jpeg_dev': 'libjpeg-turbo',
    'krb5_dev': 'krb5',
    'latex': 'texlive-meta',
    'ldap_dev': 'openldap',
    'locate': 'plocate',
    'man_db': 'man-db',
    'man_pages': 'man-pages',
    'ncurses_dev': 'ncurses',
    'netcat': 'openbsd-netcat',
    'ninja': 'ninja',
    'nodejs_npm': 'npm',
    'noto': 'noto-fonts',
    'noto_cjk': 'noto-fonts-cjk',
    'nslookup': 'bind',
    'opengl_dev': 'mesa',
    'openssh_client': 'openssh'
    'openssl_dev': 'openssl',
    'pinentry_gui': 'pinentry',
    'ping': 'iputils',
    'pkgconf': 'pkgconf',
    'png_dev': 'libpng',
    'python_pip': 'python-pip',
    'python_venv': 'python-virtualenv',
    'qt5_dev': 'qt5-base',
    'qt6_dev': 'qt6-base',
    'readline_dev': 'readline',
    'route': 'net-tools',
    'ruby_dev': 'ruby',
    'rust': 'rust',
    'sdl2_dev': 'sdl2',
    'sftp_server': 'openssh',
    'sqlite_dev': 'sqlite',
    'sshd': 'openssh',
    'tftp': 'tftp-hpa',
    'tiff_dev': 'libtiff',
    'traceroute': 'traceroute',
    'vulkan_dev': 'vulkan-headers',
    'webp_dev': 'libwebp',
    'xml_dev': 'libxml2',
    'xslt_dev': 'libxslt',
    'yaml_dev': 'libyaml',
    'zlib_dev': 'zlib',
  },

  'RedHat': {
    '7zip': 'p7zip',
    'acl': 'acl',
    'arping': 'iputils',
    'bluetooth_dev': 'bluez-libs-devel',
    'bsd_utils': 'util-linux',
    'build_tools': '@Development Tools',
    'cargo': 'cargo',
    'cron': 'cronie',
    'curl_dev': 'libcurl-devel',
    'dig': 'bind-utils',
    'dnsutils': 'bind-utils',
    'editline_dev': 'libedit-devel',
    'emoji': 'google-noto-emoji-fonts',
    'fd': 'fd-find',
    'ffi_dev': 'libffi-devel',
    'firefox': 'firefox',
    'ftp_server': 'vsftpd',
    'fuse_dev': 'fuse3-devel',
    'g++': 'gcc-c++',
    'glew_dev': 'glew-devel',
    'glfw_dev': 'glfw-devel',
    'gmp_dev': 'gmp-devel',
    'go': 'golang',
    'gtk3_dev': 'gtk3-devel',
    'ifconfig': 'net-tools',
    'iproute': 'iproute',
    'java_jdk': 'java-latest-openjdk-devel',
    'java_jre': 'java-latest-openjdk',
    'jpeg_dev': 'libjpeg-turbo-devel',
    'krb5_dev': 'krb5-devel',
    'latex': 'texlive-scheme-full',
    'ldap_dev': 'openldap-devel',
    'locate': 'plocate',
    'man_db': 'man-db',
    'man_pages': 'man-pages',
    'ncurses_dev': 'ncurses-devel',
    'netcat': 'nc',
    'ninja': 'ninja-build',
    'nodejs_npm': 'npm',
    'noto': 'google-noto-fonts',
    'noto_cjk': 'google-noto-cjk-fonts',
    'nslookup': 'bind-utils',
    'opengl_dev': 'mesa-libGL-devel',
    'openssh_client': 'openssh-clients',
    'openssl_dev': 'openssl-devel',
    'pinentry_gui': 'pinentry',
    'ping': 'iputils',
    'pkgconf': 'pkgconf',
    'png_dev': 'libpng-devel',
    'python_pip': 'python3-pip',
    'python_venv': 'python3-virtualenv',
    'qt5_dev': 'qt5-qtbase-devel',
    'qt6_dev': 'qt6-qtbase-devel',
    'readline_dev': 'readline-devel',
    'route': 'net-tools',
    'ruby_dev': 'ruby-devel',
    'rust': 'rust',
    'sdl2_dev': 'SDL2-devel',
    'sftp_server': 'openssh-clients',
    'sqlite_dev': 'sqlite-devel',
    'sshd': 'openssh-server',
    'tftp': 'tftp-server',
    'tiff_dev': 'libtiff-devel',
    'traceroute': 'traceroute',
    'vulkan_dev': 'vulkan-headers',
    'webp_dev': 'libwebp-devel',
    'xml_dev': 'libxml2-devel',
    'xslt_dev': 'libxslt-devel',
    'yaml_dev': 'libyaml-devel',
    'zlib_dev': 'zlib-devel',
  },

} %}

{% set pkg = pkg_map[os_fam] %}
